
h1 {
    color: brown;
}

* {
    border: solid;
}
.header{
    background-color: aqua;
    display: flex;
    justify-content: space-between;
}
.footer{
    background-color: cadetblue;
    display: flex;
    justify-content:flex-end;
}
.main{
    background-color: rgb(40, 194, 65);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}